doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Twitter Interface
    meta(name='description', content='Twitter Interface')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/global.css')
  // The body will pull from header.pug and index.pug files.
  body
    include includes/header
    block main